
.events-section {
    padding: 60px;
    
    background-image:url('https://wallpapercave.com/wp/wp3243951.jpg');
    border-radius: 5px;
  }
  
  .events-section h2 {
    color: #333;
  }
  
  .events-section ul {
    list-style: none;
    padding: 0;
  }
  
  .events-section li {
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
  }
  
  .events-section h3 {
    color: #007bff;
  }