/* signup.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/20/f8/5e/20f85e5f3bd0b8af4d9eca662e878d17.jpg');
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
    min-height: 50vh;
    padding: 20px;
    color:aqua;
}

.signup-form {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .signup-form {
        padding: 15px 20px;
    }

    .signup-form h2 {
        font-size: 24px;
    }

    .form-group input {
        font-size: 14px;
    }

    .signup-btn {
        font-size: 16px;
    }
}
